@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* BASE STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    background: #1c1c1c;
    
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

/* Central container
    zero top and bottom, auto left and right */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Navbar */

.navbar {
    background: #1c1c1c;
    color: #fff;
    height: 60px;
}

.navbar .logo {
    font-size: 25px;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: orange;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* header */

.header {
    background-color: #262626;
    color: #fff;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* Boxes */

.boxes .container {
    display: flex;
    justify-content: space-between;
    background: #1c1c1c;

}

.box {
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px black;
    padding: 15px 20px;
}

/* Stacking Responsiveness */

@media (max-width: 700px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
        padding: 10px;
    }

}